body {
  background-color: #232530;
}

h1 {
  color: #e9535f;
}

h2 {
  color: #e9535f;
}

h3 {
  color: #e9535f;
}

h4 {
  color: #e9535f;
}

h5 {
  background-color: #E95378;
  color: #232530;
  width: fit-content;
  border-width: thick;
  border-style: solid;
  border-color: #E95378;
  font-size: larger;
  font-weight: bold;
}

code {
  color: #cfccc9;
  font-weight: bolder;
  font-family: Consolas, monospace;
}

a code {
  color: inherit;
}

h2 code {
  font-weight: bolder;
  font-size: larger;
}

h3 code {
  font-weight: bolder;
  font-size: larger;
}

h4 code {
  font-weight: bolder;
  font-size: larger;
}

h1 em {
  color: #E95378;
  font-family: Consolas, monospace;
}

h2 em {
  color: #E95378;
  font-family: Consolas, monospace;
}

h3 em {
  color: #E95378;
  font-family: Consolas, monospace;
}

h4 em {
  color: #E95378;
  font-family: Consolas, monospace;
}

li em {
  color: #E95378;
  font-family: Consolas, monospace;
}

a:link {
  font-family: Consolas, monospace;
  font-weight: bold;
  color: #e9535f;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: #e9767f;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

/* The sidebar menu */
#sidebar {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #232530;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 8px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  display: flex;
  flex-direction: column;
  border-right: #404459;
  border-right-style: solid;
  border-right-width: 1px;
  bottom: 25px;
}

#sidebar.fit {
  width: fit-content;
}

#sidebar.zero {
  width: 0;
  border-right-style: none;
}

/* The sidebar links */
#sidebar a {
  padding: 8px 8px 8px 32px;
  color: #e9535f;
  background-color: #232530;
  text-decoration: none;
}

a.top {
  padding: 8px 64px 8px 8px;
}

/* Active/current link */
#sidebar a.active {
  color: #E95378;
  background-color: #404459;
  text-decoration: underline;
  font-weight: bold;
}

#sidebar a:hover:not(.active) {
  color: #e9767f;
  background-color: #404459;
  text-decoration: none;
}

/* The button used to open the sidebar */
#btn, #btn2 {
  font-size: 25px;
  cursor: pointer;
  background-color: #232530;
  color: #999999;
  padding: 6px;
  border: none;
}

#btn {
  z-index: 2;
  float: left;
}

#sidebar #btn2 {
  width: min-content;
  margin-left: 8px;
  padding: 6px calc(6px + 2.35px) 6px calc(6px + 2.35px);
  top: 0;
}

div.sourceCode {
  border: #404459;
  border-style: solid;
  border-width: 2px;
}

.hide {
  display: hidden;
}

.sidebar-sep {
  font-weight: bold;
  padding: 8px 64px 8px 8px;
  color: #e9535f;
  font-family: Consolas, monospace;
  text-decoration: none;
  align-content: center;
  border-top-style: solid;
  border-top-color: #404459;
  border-top-width: 1px;
}

#btn:hover {
  color: #cfccc9;
}

#btn2:hover {
  color: #cfccc9;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
  padding: 20px;
  font-family: Helvetica, sans-serif;
  background-color: #232530;
  color: #999999;
  overflow: visible;
  padding-top: 20px;
  margin-bottom: 10px;
  float: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidebar {
    padding-top: 5px;
    height: calc(100% - 20px);
  }

  #sidebar a {
    font-size: 18px;
  }

  #sidebar.fit {
    max-width: 25%;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #232530;
  color: #999999;
  padding-bottom: 5px;
  padding-left: 10px;
  border-top: #404459;
  border-top-style: solid;
  border-top-width: 1px;
  font-family: Consolas, monospace;
  z-index: 2;
}

/*# sourceMappingURL=docs.css.map */
